body {
    background-image: url(https://images.unsplash.com/photo-1532584615605-f4525a324e41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
 
}

h1, button{
    font-size: 5em;
    color: red;
    font-family: Raleway;
}
h3{
    color: white;  
    font-family: Raleway;
}
html{
    height: 100%;
}
#content{
    text-align: center;
    padding-top: 25%;
}
div.container{
    font-family: poppins;
}
hr{
    width: 400px;
    border-top: 1px solid white;
    border-bottom: 5px 10px #888888;
}